<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="1" value="2,2,2" />
    </appSettings>
    <connectionStrings>
        <add name="测试机器1" connectionString="Data Source=127.0.0.1;User ID=root;Password=;DataBase=autocad;Charset=gb2312" />
    </connectionStrings>
</configuration>