<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="1233" connectionString="Data Source=127.0.0.1;User ID=root;Password=;DataBase=autocad;Charset=gb2312" />
    <add name="1234" connectionString="Data Source=127.0.0.1;User ID=root;Password=;DataBase=autocad;Charset=gb2312" />
    <add name="1235" connectionString="Data Source=127.0.0.1;User ID=root;Password=;DataBase=autocad;Charset=gb2312" />
    <add name="1236" connectionString="Data Source=127.0.0.1;User ID=root;Password=;DataBase=autocad;Charset=gb2312" />
    <!--<add name="服务器3" connectionString="Data Source=192.168.0.8;User ID=root;Password=123456;DataBase=autocad;Charset=gb2312" />-->
  </connectionStrings>
</configuration>