<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="101" connectionString="Data Source=192.168.1.101;User ID=root;Password=123456;DataBase=autocad;Charset=gb2312"/>
    <add name="102" connectionString="Data Source=192.168.1.102;User ID=root;Password=123456;DataBase=autocad;Charset=gb2312"/>
    <add name="103" connectionString="Data Source=192.168.1.103;User ID=root;Password=123456;DataBase=autocad;Charset=gb2312"/>
    <add name="104" connectionString="Data Source=192.168.1.104;User ID=root;Password=123456;DataBase=autocad;Charset=gb2312"/>-->
    <add name="104" connectionString="Data Source=127.0.0.1;User ID=root;Password=;DataBase=autocad;Charset=gb2312"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
