<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <connectionStrings>
    <add name="MysqlServer" connectionString="Data Source=127.0.0.1;User ID=root;Password=;DataBase=autocad;Charset=gb2312"/>
  </connectionStrings>
  <appSettings>
    <add key="filePath" value="C:\Users\wliu\Desktop\test\"/>
    <add key="savePath" value="C:\Users\wliu\Desktop\修改后的图纸\"/>
    <add key="xls" value="C:\Users\wliu\Desktop\修改的编号.xls"/>
  </appSettings>
</configuration>
