<?xml version="1.0"?>
<configuration>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="MysqlServer" connectionString="Data Source=127.0.0.1;User ID=root;Password=;DataBase=autocad;Charset=gb2312"/>
  </connectionStrings>
  <appSettings>
    <add key="filePath" value="C:\Users\wliu\Desktop\test\"/>
    <add key="savePath" value="C:\Users\wliu\Desktop\修改后的图纸\"/>
    <add key="xls" value="C:\Users\wliu\Desktop\修改的编号.xls"/>
  </appSettings>
</configuration>
